<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stripe</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/083115c90b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  {{> nav}}
 <div class="container">
    {{{ body }}}
 </div> 
 <script src="https://js.stripe.com/v3/"></script>
<script src="/js/card.js"></script>
</body>
</html>